%table{:class => 'table table-hover text-center'}
  %tr
    %th Is Assigned
    %th Exercise type
    %th Exercise
    %th Exercise title
    
   
  - @exercises.each do |exercise|
    %tr
      %td
        = check_box_tag :isAssigned 
      %td exercise
      %td= exercise.id
      %td= exercise.title

  - @voice_hygienes.each do |voice_hygiene|
    %tr
      %td
        = check_box_tag :isAssigned 
      %td voice_hygiene
      %td= voice_hygiene.id
      %td= voice_hygiene.title
  
  - @theoretical_backgrounds.each do |theoretical_background|
    %tr
      %td
        = check_box_tag :isAssigned 
      %td theoretical_background
      %td= theoretical_background.id
      %td= theoretical_background.title

= link_to 'שמור', new_patient_exercise_path, class: 'btn btn-default btn-sm', role: 'button'
%br/


= link_to 'New Patient exercise', new_patient_exercise_path
