= form_for(@voice_hygiene, {class: 'form-horizontal'}) do |f|
  
  .row
    .form-group.col-md-12{:class => ("has-error" if @voice_hygiene.errors[:title].any?)}
      = f.label 'כותרת', class: 'control-label col-md-2', for: :title
      .col-md-10
        = f.text_field :title, :class => "form-control"
        
        - if @voice_hygiene.errors[:title].any?
          .alert.alert-danger{:role => "alert"} 
            שגיאה!

  .row
    .form-group.col-md-12{:class => ("has-error" if @voice_hygiene.errors[:description].any?)}
      = f.label 'הוראות תרגיל', class: 'control-label col-md-2', for: :description
      .col-md-10
        = f.text_area :description, :class => "form-control", :rows => 6
        - if @voice_hygiene.errors[:description].any?
          .alert.alert-danger{:role => "alert"} 
            שגיאה!

  .row
    .form-group.col-md-12{:class => ("has-error" if @voice_hygiene.errors[:path_pdf].any?)}
      = f.label 'מסמך', class: 'control-label col-md-2', for: :path_pdf
      .col-md-10
        = f.file_field :path_pdf
      
        - if @voice_hygiene.errors[:path_pdf].any?
          .alert.alert-danger{:role => "alert"} 
            שגיאה בקובץ!
  .row
    .actions.text-center
      = f.submit 'בצע', class: 'btn btn-success'

  
