= render partial: 'menu/menu', locals: {active: "voice_hygienes"}

= form_for(@voice_hygiene, {class: 'form-horizontal'}) do |f|
  - if @voice_hygiene.errors.any?
    #error_explanation
      %h2
        = pluralize(@voice_hygiene.errors.count, "error")
        prohibited this voice_hygiene from being saved:
      %ul
        - @voice_hygiene.errors.full_messages.each do |msg|
          %li= msg

  .form-group.row
    = f.label 'כותרת', class: 'control-label col-md-2', for: :title
    .col-md-10
      = f.text_field :title, :class => "form-control"

  .form-group.row
    = f.label 'הוסף קובץ', class: 'control-label col-md-2', for: :path_pdf
    .col-md-10
      = f.number_field :path_pdf, :class => "form-control"
    
  .actions.text-center
    = f.submit 'בצע', class: 'btn btn-success'

  
