<%= form_for(@voice_hygiene) do |f| %>
  <% if @voice_hygiene.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voice_hygiene.errors.count, "error") %> prohibited this voice_hygiene from being saved:</h2>

      <ul>
      <% @voice_hygiene.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :path_pdf %><br />
    <%= f.text_field :path_pdf %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
