= form_for(@voice_hygiene, {class: 'form-horizontal'}) do |f|
  
  .form-group.row
    = f.label 'כותרת', class: 'control-label col-md-2', for: :title
    .col-md-8
      = f.text_field :title, :class => "form-control"
      
  - if @voice_hygiene.errors[:title].any?
    .row
      .col-md-9.col-md-offset-1
        .alert.alert-danger{:role => "alert"} 
          שגיאה!

  .form-group.row
    = f.label 'הוסף קובץ', class: 'control-label col-md-3', for: :path_pdf
    .col-md-8
      = f.file_field :path_pdf
    
  - if @voice_hygiene.errors[:path_pdf].any?
    .row
      .col-md-9.col-md-offset-1
        .alert.alert-danger{:role => "alert"} 
          שגיאה בקובץ!

  .actions.text-center
    = f.submit 'בצע', class: 'btn btn-success'

  
