= render partial: 'menu/menu', locals: {active: "voice_hygienes"}

%h1 
  הגיינה קולית
  %h2
    רשימת קבצים 
    %small
      = link_to 'הוסף קובץ', new_voice_hygiene_path, class: 'btn btn-success btn-sm', role: 'button'

%table{:class => 'table table-hover col-md-10'}
  %tr
    %th.text-center.col-md-1 ID
    %th.text-center.col-md-3 כותרת
    %th.text-center.col-md-4 הוראות
    %th.text-center.col-md-1 לינק קובץ
    %th.text-center.col-md-3 פעולות

  - @voice_hygienes.each do |voice_hygiene|
    %tr.text-center
      %td= voice_hygiene.id
      %td= voice_hygiene.title
      %td.text-center
        %div.ellipsis{'data-toggle'=>'tooltip', 'data-placement' => 'bottom', :title => "#{voice_hygiene.description}"}
          = voice_hygiene.description     
      %td
        = link_to "/data/voice_hygiene/#{voice_hygiene.path_pdf}", target: '_blank', class: 'file-link text-primary' do
          %i.glyphicon.glyphicon-file.text-primary
      %td
        = link_to 'הצג', voice_hygiene, class: 'btn btn-default btn-sm', role: 'button'
        = link_to 'ערוך', edit_voice_hygiene_path(voice_hygiene), class: 'btn btn-primary btn-sm', role: 'button'
        = link_to 'מחק', voice_hygiene, method: :delete, data: { confirm: 'האם הינך בטוח?' }, class: 'btn btn-danger btn-sm', role: 'button'
%br/
