= form_for(@theoretical_background) do |f|
  - if @theoretical_background.errors.any?
    #error_explanation
      %h2
        = pluralize(@theoretical_background.errors.count, "error")
        prohibited this theoretical_background from being saved:
      %ul
        - @theoretical_background.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :לינק
    %br/
    = f.text_field :link
  .field
    = f.label :pdf
    %br/
    = f.text_field :pdf
  .field
    = f.label :כותרת
    %br/
    = f.text_field :title
  .actions
    = f.submit 'אישור' 
