= form_for(@theoretical_background, {class: 'form-horizontal'}) do |f|
  - if @theoretical_background.errors.any?
    #error_explanation
      %h2
        = pluralize(@theoretical_background.errors.count, "error")
        prohibited this theoretical_background from being saved:
      %ul
        - @theoretical_background.errors.full_messages.each do |msg|
          %li= msg
  .form-group.row
    = f.label 'כותרת', class: 'control-label col-md-2', for: :title
    .col-md-10
      = f.text_field :title, :class => "form-control"
  .form-group.row
    = f.label 'לינק', class: 'control-label col-md-2', for: :link
    .col-md-10
      = f.text_field :link, :class => "form-control"
  .form-group.row
    = f.label 'מסמך', class: 'control-label col-md-2', for: :pdf
    .col-md-10
      = f.file_field :pdf
  .actions.text-center
    = f.submit 'אישור', class: 'btn btn-success'
