= render partial: 'menu/menu', locals: {active: "theoretical_backgrounds"}

%h1 
  רקע תאורטי
  %h2
    רשימת משימות 
    %small
      = link_to 'הוסף משימה', new_theoretical_background_path, class: 'btn btn-success btn-sm', role: 'button'

%table{:class => 'table table-hover text-center'}
  %tr
    %th.text-center ID
    %th.text-center כותרת
    %th.text-center לינק קובץ
    %th.text-center לינק וידאו
    
  - @theoretical_backgrounds.each do |theoretical_background|
    %tr
      %td= theoretical_background.id
      %td= theoretical_background.title
      %td= theoretical_background.pdf
      %td= theoretical_background.link
      %td
        = link_to 'הצג', theoretical_background, class: 'btn btn-default btn-sm', role: 'button'
        = link_to 'ערוך', edit_theoretical_background_path(theoretical_background), class: 'btn btn-primary btn-sm', role: 'button'
        = link_to 'מחק', theoretical_background, method: :delete, data: { confirm: 'האם הינך בטוח?' }, class: 'btn btn-danger btn-sm', role: 'button'
%br/
