= form_for(@exercise, {class: 'form-horizontal'}) do |f|

  .row
    .form-group.col-md-12{:class => ("has-error" if @exercise.errors[:title].any?)}
      = f.label 'כותרת', class: 'control-label col-md-2', for: :title
      .col-md-10
        = f.text_field :title, :class => "form-control"
        - if @exercise.errors[:title].any?
          .alert.alert-danger{:role => "alert"} 
            שגיאה!
 
  .row
    .form-group.col-md-12{:class => ("has-error" if @exercise.errors[:exType].any?)}
      = f.label 'סוג תרגיל', class: 'control-label col-md-2', for: :exType
      .col-md-10
        = f.text_field :exType, :class => "form-control"
        - if @exercise.errors[:exType].any?
          .alert.alert-danger{:role => "alert"} 
            שגיאה!

  .row
    .form-group.col-md-12{:class => ("has-error" if @exercise.errors[:description].any?)}
      = f.label 'הוראות תרגיל', class: 'control-label col-md-2', for: :description
      .col-md-10
        = f.text_area :description, :class => "form-control", :rows => 6
        - if @exercise.errors[:description].any?
          .alert.alert-danger{:role => "alert"} 
            שגיאה!

  .row
    .form-group.col-md-12{:class => ("has-error" if @exercise.errors[:image].any?)}
      = f.label 'תמונה', class: 'control-label col-md-2', for: :image
      .col-md-10
        = f.file_field :image
        - if @exercise.errors[:image].any?
          .alert.alert-danger{:role => "alert"} 
            שגיאה בתמונה!
  .row
    .form-group.col-md-12
      = f.label 'הגשת וידאו?', class: 'control-label col-md-2', for: :recVideo
      .col-md-4
        = f.check_box :recVideo, :class => "form-control pull-right"
      
  .row
    .actions.text-center
      = f.submit 'בצע', class: 'btn btn-success'
